.real-graph {
  height: 100%;
  display: grid;
  grid-template-columns: 20% 1fr;

  &__map {
    height: 100%;
    width: 100%;
  }

  &__options {
    padding: 1rem;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.5);
    overflow-y: auto;
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
  }
  &__button {
    flex-grow: 1;
    margin: 0.5rem;
  }
}
