<form class="path-options" [formGroup]="parentForm">
  <app-autocomplete
    [label]="'Starting point'"
    [placeholder]="'Pick a point'"
    [control]="startingPoint"
    [points]="points"
    [displayWith]="displayWith"
    [filterBy]="filterBy"
  ></app-autocomplete>

  <mat-form-field class="path-options__field" appearance="fill">
    <mat-label>Min. profit</mat-label>
    <input
      matInput
      type="number"
      placeholder="Minimal profit"
      min="1000"
      max="15000"
      [formControl]="minProfit"
    />

    <mat-error *ngIf="minProfit.errors?.required">
      This field is required
    </mat-error>
  </mat-form-field>
</form>
