/* You can add global styles to this file, and also import other style files */
html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
  color: var(--font-color);
  background: var(--bg-neutral);
}

* {
  box-sizing: border-box;
  scrollbar-width: thin;
  ::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-thumb {
    background: #e91e63;
  }
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

body {
  --bg-light: #454545;
  --bg-neutral: #303030;
  --font-color: #fff;
  --primary: #e91e63;
  --accent: #607d8b;
  --warn: #f44336;
}
